

<div *ngFor="let value of courseDetails">

    <div *ngIf="value.CourseName=='AWS CERTIFICATION TRAINING COURSE'">
    
    <div class="p-4 p-md-5 mb-4  text-body-emphasis header-div" style="background-image:url(https://www.simplilearn.com/ice9/assets/fsd-banner_1.jpg);background-size: 115% 100%;height: 70vh;">
        <div class="col-lg-6 px-0">
          <h2 class="display-4 fw-bold headText">{{value.CourseName}}</h2>
          <p class="lead my-3">{{value.Description}}</p>
          
        </div>
    </div>
    
    
        <!-- <h1>{{value.CourseName}}</h1>
        <h1>{{value.Fee}}</h1>
        <h1>{{value.Description}}</h1>
        <h1>{{value.CourseDuration}}</h1> -->
    
    
    
      
    <!-- course content START -->
                
    <div class="container px-4 py-3" id="icon-grid">
      <h2 class="display-5 link-body-emphasis mb-3 text-center">Course Content</h2>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        
        <!-- 1 -->
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-1-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Design Aws System</h3>
            <p> Efficient design and deployment of the AWS system</p>
          </div>
        </div>

        <!-- 2 -->
    
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-2-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Costing</h3>
            <p>Cost-evaluation and cost-control mechanisms</p>
          </div>
        </div>
    
        <!-- 3 -->
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-3-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">EC2</h3>
            <p>Elastic Load Balancing on multiple EC2 instances</p>
          </div>
        </div>
    
        <!-- 4 -->
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-4-square-fill" viewBox="0 0 16 16">
              <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z"/>
            </svg>
          
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Data Manupulation</h3>
            <p>Data ingress and egress on AWS</p>
          </div>
        </div>

        <!-- 5 -->
    
    
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-5-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.994 12.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">AWS architecture</h3>
            <p>Identifying relevant and suitable uses of AWS architecture</p>
          </div>
        </div>
    
        <!-- 6 -->
    
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-6-square-fill" viewBox="0 0 16 16">
              <path d="M8.111 7.863c-.92 0-1.564.65-1.564 1.576 0 1.032.703 1.635 1.558 1.635.868 0 1.553-.533 1.553-1.629 0-1.06-.744-1.582-1.547-1.582Z"/>
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.21 3.855c1.612 0 2.515.99 2.573 1.899H9.494c-.1-.358-.51-.815-1.312-.815-1.078 0-1.817 1.09-1.805 3.036h.082c.229-.545.855-1.155 1.98-1.155 1.254 0 2.508.88 2.508 2.555 0 1.77-1.218 2.783-2.847 2.783-.932 0-1.84-.328-2.409-1.254-.369-.603-.597-1.459-.597-2.642 0-3.012 1.248-4.407 3.117-4.407Z"/>
            </svg>
          
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Penetration Testing</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>

        <!-- 7 -->
    
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-7-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.37 5.11V4.001h5.308V5.15L7.42 12H6.025l3.317-6.82v-.07H5.369Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lift and shift</h3>
            <p>Lift and shift mechanism of AWS on-premises applications</p>
          </div>
        </div>


        <!-- 8 -->
    
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="#ff9900" class="bi bi-8-square-fill" viewBox="0 0 16 16">
              <path d="M6.623 6.094c0 .738.586 1.254 1.383 1.254s1.377-.516 1.377-1.254c0-.733-.58-1.23-1.377-1.23s-1.383.497-1.383 1.23Zm-.281 3.644c0 .838.72 1.412 1.664 1.412.943 0 1.658-.574 1.658-1.412 0-.843-.715-1.424-1.658-1.424-.944 0-1.664.58-1.664 1.424Z"/>
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm8.97 9.803c0 1.394-1.218 2.355-2.988 2.355-1.763 0-2.953-.955-2.953-2.344 0-1.271.95-1.851 1.647-2.003v-.065c-.621-.193-1.33-.738-1.33-1.781 0-1.225 1.09-2.121 2.66-2.121s2.654.896 2.654 2.12c0 1.061-.738 1.595-1.336 1.782v.065c.703.152 1.647.744 1.647 1.992Z"/>
            </svg>
          </div>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lift and shift</h3>
            <p>Finding the right solutions based on computational, database, and security needs</p>
          </div>
        </div>
    
       
        
    
      </div>
    
      
      
      
    </div>
    
    
    
    <!-- course content END -->
    
    <!-- course details END -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
        
              <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-3 text-center">Course Details</h2>
              
        
                <p class="text-center mb-3">Learning how to design both the front and back end of web applications opens up twice as many job opportunities for developers. If you already know JavaScript, learning the MEAN Stack is easy. Udemy offers top-rated courses on every aspect of MEAN usage, from Angular, to Node.js, to Express, and MongoDB.</p>
                
    
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" colspan="2">Course Name</th>
                      <td scope="col" colspan="2">{{value.CourseName}}</td>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    
                      <th colspan="2">Course Fee</th>
                      <td colspan="2">{{value.Fee | currency:'INR'}}</td>
                      
                    </tr>
                    <tr>
                     
                      <th colspan="2">Course Duration</th>
                      <td colspan="2">{{value.CourseDuration }}</td>
                      
                    </tr>
    
                    <tr>
                     
                      <th colspan="2">Next Batch Starting Date</th>
                      <td colspan="2">25 Aug 2023</td>
                      
                    </tr>
    
                    <tr>
                     
                      <th colspan="2">Mode Of Batch</th>
                      <td colspan="2">Hybrid(Online & Offline)</td>
                      
                    </tr>
    
                    <tr>
                     
                      <th colspan="2">Batch Timing</th>
                      <td colspan="2">7.00 am to 10.00 am</td>
                      
                    </tr>
                    
                    
                  </tbody>
                </table>
    
               
                
                <!-- <h3>Course Content</h3>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p> -->
    
    
    
                <!-- printing the content of course form database -->
                <!-- <ul *ngFor="let content of value.CourseContent">
                  <li>{{content}}</li>
                </ul>
                 -->
              </article>
    
    
            </div>
        
            
          </div>
    
          <nav class=" d-flex justify-content-center" aria-label="Pagination" >
            <button class="btn btn-outline-primary rounded-pill bounce" href="#">Register Now</button>
           
          </nav>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    </div>
    
    </div>
    