

<!----

<div class="container">

<nav align="right">
  <a routerLink="/home" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmJM-OY2eW_olaJye_1bYBF98GsgmfnqwNgg&usqp=CAU" align="left"></a>
  <a routerLink="/home" style="margin-right: 50px;font-size: 20px;font-weight: bold;">HOME</a>
  <a routerLink="/course" style="margin-right: 50px;font-size: 20px;font-weight: bold;">COURSE</a>
  <a routerLink="/placement" style="margin-right: 50px;font-size: 20px;font-weight: bold;">PLACEMENT</a>
  <a routerLink="/register" style="margin-right: 50px;font-size: 20px;font-weight: bold;">REGISTER</a>
  <a routerLink="/aboutus" style="margin-right: 50px;font-size: 20px;font-weight: bold;">ABOUT US</a>
  <a routerLink="/contactus" style="margin-right: 50px;font-size: 20px;font-weight: bold;">CONTACT US</a>
</nav>

</div>
--->

<app-navbar></app-navbar>

<router-outlet></router-outlet>


<app-footer></app-footer>
