<div class="placement-heading">
    <div class="placement-content">
      <h1  class="heading">Your Gateway to Success</h1>
      <h3> Embark on a journey of achievement with our exceptional placement opportunities</h3>
      <p>A dedicated team to help you land the best opportunities</p>
      <p>Curated openings and industry referrals to ensure you have access to the best opportunities out there.</p>
      <p>Our placement cell works closely with you to help you reach closer to your professional goals</p>
      <div class="placement-stats">
        <p><span class="highlight">3 LPA</span> Average CTC</p>
        <p><span class="highlight">300+</span> Hiring Partners</p>
      </div>
    </div>
    <div class="placement-image">
      <img src="/assets/placementBG.jpg" alt="Image">
    </div>
  </div>

  <p class="faang-line"><span >LogipoolInfotech in the top Companies  </span></p>

  <!-- <img src="/assets/Screenshot1.png" alt="Image 1" class="imgg" > -->

  <div class="placement-logos">
    <img src="/assets//microsoft.png" alt="Company 1">
    <img src="/assets//uber.png" alt="Company 2">
    <img src="/assets//zomato.png" alt="Company 3">
    <img src="/assets//zoho.png" alt="Company 3">
    <img src="/assets//lenskart.png" alt="Company 1">
    <img src="/assets//ola.png" alt="Company 2">
    <img src="/assets//walmart.png" alt="Company 1">
    <img src="/assets//paytm.png" alt="Company 1">
    <img src="/assets//phonepe.png" alt="Company 1">
  </div>

  <div class="placement-logos">
    <img src="../../assets/accenture.png" alt="">
    <img src="../../assets/amazon2.jpg" alt="">
    <img src="../../assets/adidas.png" alt="">
    <img src="../../assets/Bosch.png" alt="">
    <img src="../../assets/citigroup.png" alt="">
    <img src="../../assets/flipkart.png" alt="">
    <img src="../../assets/cocacola.png" alt="">
    <img src="../../assets/infosys.png" alt="">
    <img src="../../assets/IBM1.png" alt="">
  </div>

  <div class="placement-logos">
    <img src="../../assets/puma1.png" alt="">
    <img src="../../assets/cognizant.png" alt="">
    <img src="../../assets/intel.png" alt="">
    <img src="../../assets/hp.png" alt="">
    <img src="../../assets/myntra.png" alt="">
    <img src="../../assets/nestle1.png" alt="">
    <img src="../../assets/nike1.png" alt="">
    <img src="../../assets/sony.png" alt="">
    <img src="../../assets/TCS.png" alt="">

  </div>


   <p class="faang-line"><span >Students placed in Companies</span></p>


   <div class="placement-card-columns">
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image1.jpg" alt="Person Image 1">
      </div>
      <div class="card-details">
        <h4>John Doe</h4>
        <p>Company: Nike</p>
        <p>The Full Stack Development course gave me a taste of actually developing apps, because of which I was able to make some projects, and also polish my resume, which helped a lot during the internship process </p>
      </div>
    </div>
    
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image2.jpg" alt="Person Image 2">
      </div>
      <div class="card-details">
        <h4>Jane Smith</h4>
        <p>Company:lenskart</p>
        <p>My experience with LogipoolInfotech  has been wonderful. These courses
          strengthened my concepts and helped me during the placement interviews as
          well as with my projects. </p>
      </div>
    </div>
    
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image3.jpg" alt="Person Image 3">
      </div>
      <div class="card-details">
        <h4>Michael Johnson</h4>
        <p>Company: microsoft</p>
        <p>All the faculty members at LogipoolInfotech  were very friendly and helped me clear
          every doubt that I had. I believe that coding can help you become more analytical
          and indeed it helped me with my placement</p>
      </div>
    </div>
  </div>

  <p class="faang-line"><span >Non IT Students</span></p>


  <div class="placement-card-columns">
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image4.jpg" alt="Person Image 1">
      </div>
      <div class="card-details">
        <h4>John Doe</h4>
        <p>Company:phonepe</p>
        <p>The Full Stack Development course gave me a taste of actually developing apps, because of which I was able to make some projects, and also polish my resume, which helped a lot during the internship process</p>
      </div>
    </div>
    
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image5.jpg" alt="Person Image 2">
      </div>
      <div class="card-details">
        <h4>Jane Smith</h4>
        <p>Company: walmart</p>
        <p>The Web Development course gave me a taste of actually developing apps, because of which I was able to make some projects, and also polish my resume, which helped a lot during the internship process</p>
      </div>
    </div>
    
    <div class="placement-card">
      <div class="card-image">
        <img src="/assets/person-image6.jpg" alt="Person Image 3">
      </div>
      <div class="card-details">
        <h4>Michael Johnson</h4>
        <p>Company: uber</p>
        <p>I enrolled for the C++ as well as Java courses of LogipoolInfotech which helped me a lot.LogipoolInfotech gave me enough confidence, I was just not taught how to code but also to build something productive.</p>
      </div>
    </div>
  </div>



 
