<div class="main-page">

   <img src="../../assets/HomePageMainImage.svg" style="width: 100%;height:80vh;">
    
    <h1 class="main-image-header animate-charcter">Heading Towards Technical Growth</h1>

</div>

<br>



<!--Information About Logipool-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="../../assets/placementBG.jpg" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <p style="font-size: 18px;font-family: Georgia, 'Times New Roman', Times, serif;">
                    Gain the job-ready skills you need to launch your career in IT Industry.<br>
                     Want to launch you Career in IT Industry …then Welcome to the world of LOGIPOOL INFOTECH, Pune.<br><br>
                      Just to introduce our self, "We are not just a training institute but a talent pool creation division of TechnoGrowth Software Solutions Pvt. Ltd."<br><br>
                    We are more than IT Institute …we are… An IT GURUKUL Run by a Software Company Who know better What Industry Want Having 70+ years of Cumulative Experience from IT Industry Which follow Project Based Learning Methodology. </p>
            </div>
        </div>
    </div>
<br>
</section>


<!--what we provide -->
<section id="provide">
    <div class="heading" style="text-align: center;font-size: 30px;font-weight: bold;">What We Provide?</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-3 py-md-6">
                <div class="card">
                    <img src="../../assets/course.png.png" alt="" height="300px">
                    <div class="card-body">
                        <h5 style="text-align: center;font-size: xx-large;font-weight: bold;">COURSES</h5>
                    </div>
                </div>
            </div>
          <div class="col-md-6 py-3 py-md-6">
            <div class="card">
                <img src="../../assets/intership.png" alt="" height="300px">
                <div class="card-body">
                    <h5 style="text-align: center;font-size: xx-large;font-weight: bold;">INTERNSHIPS</h5>
                </div>
            </div>
          </div>
        </div>
    </div>  

    <div class="container">
        <div class="row">
            <div class="col-md-6 py-3 py-md-6">
                <div class="card">
                    <img src="../../assets/placement.png" alt="" height="300px">
                    <div class="card-body">
                        <h5 style="text-align: center;font-size: xx-large;font-weight: bold;">PLACEMENT</h5>
                    </div>
                </div>
            </div>
          <div class="col-md-6 py-3 py-md-6">
            <div class="card">
                <img src="../../assets/ciriculumactivites.png" alt="" height="300px">
                <div class="card-body">
                    <h5 style="text-align: center;font-size: xx-large;font-weight: bold;">CIRICULUM ACTVITIES</h5>
                </div>
            </div>
          </div>
        </div>
    </div>  

</section>






